<!-- views/home.handlebars -->
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Bienvenido usuario</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>
</body>

</html>