<!-- public/realTimeProducts.handlebars -->
<html>

<head>
    <title>Real Time Products</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList">
        <!-- La lista de productos se actualizará dinámicamente aquí -->
    </ul>

    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.textContent = product.name;
                productList.appendChild(listItem);
            });
        });
    </script>
</body>

</html>






