<h1>Register</h1>
<form action="/api/userSession/register" method="POST">
    FirstName:
    <input type="text" name="first_name" id="first_name"/>
    LastName:
    <input type="text" name="last_name" id="last_name"/>
    Age:
    <input type="number" name="age" id="age"/>
    Email:
    <input type="email" name="email" id="email"/>
    Password:
    <input type="password" name="password" id="password"/>
    <button type="submit">Register</button>
</form>