<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <!-- Puedes incluir enlaces a tus estilos CSS aquí -->
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <!-- Puedes personalizar el contenido del cuerpo según la página actual -->
    {{{body}}}

    <!-- Puedes incluir scripts JS comunes aquí -->
    <script src="/scripts/main.js"></script>
</body>

</html>